body{
	background:#f4f4f4;
}
.container{
	/*padding: 0;*/
	margin: 0 auto;
	width: 980px;
}


/*.icons-container {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons-container > .icon-container {
  padding: 1em 1.2em;
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
}
.icons-container.animated > .icon-container {
  animation: raise-container 0.3s forwards 0.8s;
}
*/
.icons-container{
		height: 100vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
}


.icons-container > .icon-container {
  padding: 1em 1.2em;
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;

}
.icons-container.animated > .icon-container{
	  animation: raise-container 0.5s forwards 1s;
}



@keyframes raise-container {
  from {
    box-shadow: none;
    transform: scale(1);
  }
  to {
    box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.6), 12px 12px 12px 0 rgba(0, 0, 0, 0.03);
    transform: scale(2);
    background: skyblue;
  }
}
